#main #banner {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('../img/banner.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: left center;
    overflow: hidden;
    color: white;
}
#main #banner .banner_inter {
    text-align: right;
    white-space: normal;
    word-break: keep-all;
    font-size: 3em;
    float: right;
    margin-top: 30vh;
}
#main #banner .banner_inter .btn{
    font-size: 0.6em;
    color: #50BCAE;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: 2px solid #50BCAE;
    width: 200px;
    margin-top: 20vh;
    outline: none;
}
#main #banner .banner_inter .btn:hover{
    border: 2px solid #84EFDF;
    background-color: #84EFDF;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}
#main #banner .banner-wrap {
    position: relative;
    width: 95%;
    margin: auto;
    max-width: 1374px;
}


.tbanner-wrap {
    background-color: #000;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%; height: 200px;
}
.tbanner-area { width: 100%; }
.tbanner-content {
    width: 95%; height: 60px;
    max-width: 1374px;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    text-align: left;
}
.tbanner-line {height: 100%;}
.tbanner-title {padding-left: 20px;}

@keyframes grow {
    0% { width: 75px; } 
    50% { width: 80px; } 
    100% { width: 75px; } 
}
#main #banner .scroll_down img {
    animation-duration: 0.5s; 
    animation-name: grow; 
    animation-iteration-count: infinite; 
}
@media screen and (max-width: 900px) {
    #main #banner { font-size: 0.6em; background-size: 900px; background-position: right bottom; } 
    #main #banner .banner_inter{ width: 10em; }
    #main #banner .banner_inter .btn { width: 120px; height: 32px; }
    #main #banner .scroll_down { display: none; } 
}
@media screen and (max-width: 745px) { #main #banner { background-position: -160px bottom; } } 
