.hidden {opacity: 0;pointer-events: none;}
.move { transform: translate(-100vw); } 
#estimate {
    padding: 20% 0;
    text-align: center; 
    position: relative;
    overflow: hidden;
}
#estiView{
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    min-height: 900px;
}
.response {
    width: 70%;
    min-width: 320px;
    max-width: 1084px;
    background-color: #ECECEC;
    color: white;
    font-size: 2.3em;
    height: 68px;
    text-align: right;
    margin: auto;
    margin-bottom: 44px;
}
.response > .rate {
    width: 0;
    text-align: right;
    background: linear-gradient(to left, #2D9E99, #175A7D);
    line-height: 68px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    transition-property: width; 
    transition-duration: 1.5s; 
}
.block {
    display: inline-block;
    background-repeat: no-repeat;
    padding: 10px;
    width: 320px;
    height: 320px;
    margin: 22px 16px;
    color: white;
    position: relative;
    opacity: 0;
    top: 200px;
    transition-property: all; 
    transition-duration: 1.5s; 
}
.block > .action {
    font-size: 3em;
    text-align: left;
}
.block > .contact {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2.5em;
    font-weight: lighter;
    text-shadow: 2px 2px 2px black; 
    text-align: right;
}
#in_call { background-image: url('../images/call_company.png'); }
#in_fax { background-image: url('../images/fax_company.png'); }
#in_email { background-image: url('../images/email_company.png'); }
@media screen and (max-width: 1260px) { #main #estimate { font-size: 0.6em; } } 
@media screen and (max-width: 900px) { 
    #main #estimate { font-size: 0.4em; } 
    .block { width: 150px; height: 150px; font-size: 0.8em; margin: 2.5px; } 
}
@media screen and (max-width: 720px){.block#in_email {width: 320px;}} 
