#main #system_state { 
    position: relative;
    text-align: center;
    background-color: #F3F3F3;
    padding: 20% 0;
    white-space: nowrap;
    overflow: hidden;
}
#system_state .title { margin-bottom: 15%; } 
.systemStateText .blockTitle { font-weight: 400; }
.systemStateBlock {
    margin-top: 10%;
    padding: 0 !important; 
}
.systemStateImage {
    vertical-align: top;
    width: 60%;
    position: relative;
}
.systemStateImage:hover { cursor: pointer; } 
.systemStateText {
    display: inline-block;
    position: relative;
    margin-top: 5%;
}
.Mobile { display: none; }
@media screen and (max-width: 1260px) { #main #system_state { font-size: 0.6em; } } 
@media screen and (max-width: 900px) {
    #main #system_state { font-size: 0.4em; }
    .systemStateImage { width: 100%; display: none; } 
    .systemStateImage.Mobile { display: block; } 
    .systemStateText { padding: 10% 0; display: block; width: 100%;}
    .systemStateBlock.Left { text-align: right; }
    .systemStateBlock.Right { text-align: left; }
    .systemStateBlock .systemStateText .blockTitle {padding: 0 5%;}
    .systemStateBlock .systemStateText .blockSubTitle {padding: 0 5%;}
    .systemStateBlock .systemStateText .underLine {padding: 0 5%;}
}